  @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');

.container{
    background-image: url("../../Assets/images/wllpaper5.jpeg");
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
    
}
.signinouter{
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-radius: 8px;
    width: 318px;
    height: 466px;
    padding: 41px;
    background-color: rgb(255,255,255,0.1);
    backdrop-filter: blur(10px);
    
}
.signinouter h1{
    text-align: center;
}
.signinusername{
    border: solid 1px rgb(168, 166, 166,0.5);
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    opacity: 0.8;    
}
.signinusername input{
    width: 90%;
   background-color: transparent;
   border: transparent;
   font-weight: 400;
   font-size: larger;
   font-family: 'Ysabeau Infant', sans-serif;
   color: white;
    
}
.signinusername input:focus{
    outline: none;
    
    
}
.signinpassword input:focus{
    outline: none;
    
}
.signinusername ::placeholder{
    color: white;
}
.signinpassword{
    border: solid 1px rgb(168, 166, 166,0.5); 
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    opacity: 0.8;
    
}
.signinpassword input{
    width: 90%;
   background-color: transparent;
   border: transparent;
   font-weight: 400;
   font-size: larger;
   font-family: 'Ysabeau Infant', sans-serif;
   color: white; 
}
.signinpassword ::placeholder{
    color: white;
}
.checkbox{
    width: min-content;
    
}
.signinouter .addtionalline span{
    width: 200px;
}
.signinouter button{
    height: 40px;
    border-radius: 8px;
    background-color: rgb(245, 110, 122);
    color: white;
    font-weight:700;
    font-size: large;
    border: transparent;
    font-family: 'Ysabeau Infant', sans-serif;    
}
.signinbtmsignup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signinbtmsignup .signupbtm{
    cursor: pointer;
}

.google img{  
    width: 30px;
   
}
.google{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    
}
@media (max-width:400px){
    .signinouter{
        display: flex;
        height: 100vh;
        justify-content: center;
    }
}

