@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');

.search{
    border-bottom: solid 1px gray;
    overflow: scroll;
}

.searchform input{
    outline: none;
    height: 25px;
    width: 98%;
    margin-top: 20px;
    font-family: 'Ysabeau Infant', sans-serif; 
   font-size: large;
}
.userchat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.userchat{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 12px;
}
.userchat:hover{
    background-color: rgb(218, 230, 240);
    border-radius: 10px;

}
.userchat p{
    margin: 0;
}
.userchat span{
    font-weight: 700;
}
.userchat{
    margin-top: 10px;
}
