.cont{
    height: 100vh;
    width: 398px;
    margin-left: 60px;
    border: solid 2px rgb(196, 192, 192);
    border-width: 0 1px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size: larger;
    padding:0px 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
   
}
.userdetails{
    display: flex;
    align-items: center;
}
.userdetails img{
    height: 50px;  
    border-radius: 50%;
}
.logout{
    border-radius: 5px;
    border: none;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size:medium;
    padding: 3px 5px;
}
.chatnames{
    flex-grow: 1;
    overflow:scroll;
}
.chatnames::-webkit-scrollbar{
    display: none;
}
