@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');

.cont{
    flex-grow: 1;
    border: solid 2px black;
    height: 100vh;
    overflow: scroll;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size: larger;
    padding: 0 30px;
  
}
.cont::-webkit-scrollbar{
    display: none;
}
.postinput img{
    height: 50px;  
    width: 50px;
    border-radius: 50%; 
}
.postinput{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 10px;
    
}
.postinput input{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight:500;
    font-size: large;
    flex: 1;
    height: 40px;
    border: solid 1px black;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgb(241, 241, 216);
}

.postinput input:focus{
    outline: none;
}
.postinput ::placeholder{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight:700;
}
.postinput button{
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight:500;
    font-size: large;
    background-color: rgb(160, 181, 229);
    border: solid 1px black;
    border-radius: 5px;
   
}
.postings{
    padding: 0 10px;
}
.userdetails img{
    height: 50px;  
    width: 50px;
    border-radius: 50%; 
}
.mainposts{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgb(235, 228, 228);
  
 
}
.userdetails{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    padding: 10px 0 0 10px;
}
.posts{
    margin-left: 10px;
}
.posts p{
    margin: 10px ;
}
.postingimg{
    width: 300px;
}
.posts img{
    width: 70%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
 
}
