.maincont{
   display: flex;
   font-family: 'Ysabeau Infant', sans-serif; 
 
   
  

}
.photochange{   
    top: 0;
    left: 0;
    margin-left: 35%;
    margin-top: 50px; 
    position: relative;
    margin-bottom: 50px;
  
    
}
.userphoto{
    position: relative;
    border-radius: 50%;
    height: 120px;
    width: 120px;
 
}
.pencil{
    position: absolute;
    top: 74px;
    left: 80px;
    color: white;
    border-radius: 50%;
  
  
}
.settingsmain{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: large;

}

.settings{
   border: solid 1px gray;
   width:80%;
   height: 80vh;
   overflow: scroll;
   margin-left: 10%; 
   background-color: rgb(221, 235, 247);
  
}
.generalsettings{

    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    gap: 40px;
    margin-left: 34%;
    margin-right: 15%;
    justify-content: space-between;
    font-size: larger;
    align-items: flex-end;
   

}
.generalsettings input{
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    font-family: 'Ysabeau Infant', sans-serif; 
    font-size: larger;
 
    /* mix-blend-mode: multiply; */
    background-color: transparent;
    margin-bottom: 5px;

    
}

.settings button{
    border-radius: 7px;
    margin-left: 90%;
    margin-top: 40px;
    font-family: 'Ysabeau Infant', sans-serif; 
    font-size: larger;
    border: solid 2px black;
}
.settingsmain h1{
    margin-left: 40%;
}
#verification{
    transition: transform 0.3s ease;
}
#verification:hover{
    transform: scale(1.1);
    font-weight: 600;
    cursor: pointer;
   
}
