@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');

.cont{
    height: 100vh;
    width: 250px;
    background-color: rgb(221, 235, 247);
    padding: 0px 50px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
   font-size: larger;
  
}
.images{
    height: 50px;  
    width: 50px;
    border-radius: 50%;
    
   
}