@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@400;700&display=swap');
header{
    display: none;
}
.cont{
    transition: all 1s ease;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 25px;
    /* width: max-content!important; */
    /* overflow: hidden; */
    overflow: hidden;
    background-color: rgb(221, 235, 247);
    padding: 0px 50px 0 0px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size: larger;
  
}
.cont.active{
    overflow: visible;
    width: max-content;
}
.images{
    height: 50px;  
    width: 50px;
    border-radius: 50%;  
}
.people{
    height: 75vh;
    border-radius: 10px;

    overflow: scroll;
    width: max-content;
    width: 350px;

    
}
.people li{

    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom:12px;
    justify-content: space-between;

}
.addpeople{
    flex: 1;
   

}
.addpeople header{

    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
   font-size: larger;
   padding-left: 20px;
   padding-bottom: 20px;
   color: rgb(73, 47, 47);
}
.people::-webkit-scrollbar{
    display: none;
}
.people ul{
    padding-left: 12px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.people button{
    width: max-content;
    background-color: transparent;
    color:rgb(43, 43, 226);
    border: none;
    cursor: pointer;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: bold;
    font-size:17px;
    
}
.people button:active{

    color: red;
}
.people li div{
    display: flex;
    align-items: center;
}
.logout{
    border-radius: 5px;
   border: solid 1px black;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size: medium;
    padding: 3px 5px;
    background-color: rgb(239,239,239);
    margin-left: 50px;
}


@media screen and (min-width:600px) {

    header{
        display: block;
    }
}
@media screen and (max-width:600px) {
    .cont{
        width: 5%;
    }
}
@media screen and (max-width:390px) {
    .cont{
        width: 5%;
    }
    .cont.active{
        width: 75%;
    }
    
}