.mainpage{
        display: flex;
        justify-content: center;
        align-items: center;
        
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.maincont{
  
    margin-top: 50px;
}
.sideimage{
    height: 600px;
    margin-top: 50px;
}



.logincont1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid 1px#d9d6d6;
    padding: 20px 50px;
    margin: 30px 30px 0px 30px;
    width: 280px;
    height: 400px;
    align-items: center;
}
.logincont1 .instafonttitle{
    height: 70px;
    padding: 30px 30px;
    
}
.logincont1 .orline span{
    font-weight: 700;
    color: #6a6565;
}

.logincont1 input{
    width: 98%;
    height: 35px;
    padding: 5px 10px;
  
    
  
    
}
.logincont1 input::placeholder{
    color: rgb(117,117,117);
}
.logincont1 input:focus{
    outline: none;
   
}

.logincont1 button{
    width: 100%;
    height: 50px;
    background-color: rgb(55,151,240);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: large;
    font-weight: 600;
}
.logincont1:hover button{
    cursor: pointer;
}

.orline{
    display: flex;
    flex-direction: row;
    width: 100%;
   
}
.logincont2 {
    border: solid 1px#d9d6d6;
    padding: 20px;
    padding-left: 100px;
    margin: 10px 30px;
}
.logincont2 span{
    color: rgb(55,151,240);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.logincont3{
   
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}


    
.logincont3 img{
    width: 134px;
    height: 44px;
    gap: 5px;
}
.googleapple{
    display: flex;
    gap: 10px;
}
.facebook{
    display: flex;
    align-items: center;
   
}
.facebook:hover img,span{
    cursor: pointer;
}
.googleapple:hover{
    cursor: pointer;
}
@media (max-width:900px){
    .myimages{
        display: none;
    }
}
